@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      font-family: "Poppins";
      font-weight: 400;
      background: linear-gradient(
         90deg,
         rgba(107, 81, 177, 1) 10%,
         rgba(29, 35, 133, 1) 90%
      );
   }
}
